<div class="form-check">
  <h1 class="text-center">CUESTIONARIO</h1>

 <form [formGroup]="form" (ngSubmit)="save()">
    <div class="container d-flex justify-content-around mt-5">
         
      <div class="columna-1">
  
        <caption>Pregunta</caption>
  
        <label>1.- ¿A usted le gusta las peliculas de terror?</label>
        <div class="form-check d-flex justify-content-around">
          <input 
            class="form-check-input" 
            type="radio" 
            value="No mucho"
            id="no-mucho"
            formControlName="pregunta1"
          >
          <label 
            class="form-check-label ms-2 me-5" 
            for="no-mucho">
            No mucho
          </label>
    
          <input 
            class="form-check-input"
            type="radio"
            value="A veces"
            id="a-veces"
            formControlName="pregunta1"
          >
          <label 
            class="form-check-label ms-2 me-5"
            for="a-veces">
            A veces
          </label>
    
          <input 
            class="form-check-input" 
            type="radio"
            value="Siempre" 
            id="siempre"
            formControlName="pregunta1"
          >
          <label 
            class="form-check-label ms-2 me-5" 
            for="siempre"
          >
            Siempre
          </label>
        </div>
  
  
        <caption class="mt-5">Pregunta</caption>
  
        <label>2.- ¿Qué color de bolígrafo usa?</label>
        <div class="form-check d-flex justify-content-around">
          <input 
            class="form-check-input"
            type="radio"
            value="Rojo"
            id="rojo2"
            formControlName="pregunta2"
          >
          <label 
            class="form-check-label ms-2 me-5" 
            for="rojo2"
          >
            Rojo
          </label>
    
          <input 
            class="form-check-input" 
            type="radio"
            value="Azul" 
            id="azul2"
            formControlName="pregunta2" 
          >
          <label 
            class="form-check-label ms-2 me-5"
            for="azul2"
          >
            Azul
          </label>
    
          <input 
            class="form-check-input" 
            type="radio"
            value="Negro"
            id="negro2"
            formControlName="pregunta2" 
          >
          <label 
            class="form-check-label ms-2 me-5"
            for="negro2"
          >
            Negro
          </label>
          
          <input 
            class="form-check-input"
            type="radio"
            value="Ninguno"
            id="ninguno2"
            formControlName="pregunta2"
          >
          <label 
            class="form-check-label ms-2 me-5"
            for="ninguno2"
          >
            Ninguno
          </label>
        </div>
  
  
        <caption class="mt-5">Pregunta</caption>
  
        <label>
          3.- ¿De qué color es el caballo blanco de Napoleon?
        </label>
        <div class="form-check d-flex justify-content-around">

          <input 
            class="form-check-input" 
            type="radio"
            value="Negro"
            id="negro3"
            formControlName="pregunta3"
          >
          <label 
            class="form-check-label ms-2 me-5"
            for="negro3"
          >
            Negro
          </label>
    
          <input 
            class="form-check-input" 
            type="radio" 
            value="Azul"
            id="azul3"
            formControlName="pregunta3" 
          >
          <label 
            class="form-check-label ms-2 me-5"
            for="azul3"
          >
            Azul
          </label>
    
          <input 
            class="form-check-input"
            type="radio"
            value="Cafe"
            id="cafe3"
            formControlName="pregunta3"
          >
          <label 
            class="form-check-label ms-2 me-5" 
            for="cafe3"
          >
            Cafe
          </label>
          
          <input 
            class="form-check-input"
            type="radio"
            value="Blanco"
            id="blanco3"
            formControlName="pregunta3"
          >
          <label 
            class="form-check-label ms-2 me-5"
            for="blanco3"
          >
            Blanco
          </label>
  
        </div>
  
      </div>
  
      <div class="columna-2">
  
        <caption>Pregunta</caption>
  
        <label>
          4.- ¿Que és más pesado 1 Kilo de plumas o 1 Kilo de Oro?
        </label>
        <div class="form-check d-flex justify-content-between">

          <input 
            class="form-check-input" 
            type="radio"
            value="1 Kilo de Plumas"
            id="plumas" 
            formControlName="pregunta4"
          >
          <label 
            class="form-check-label ms-2 me-5" 
            for="plumas"
          >
            1Kilo de plumas
          </label>
    
          <input 
            class="form-check-input" 
            type="radio"
            value="1 Kilo de Oro" 
            id="oro"
            formControlName="pregunta4" 
          >
          <label 
            class="form-check-label ms-2 me-5" 
            for="oro"
          >
            1Kilo de Oro
          </label>
    
          <input 
            class="form-check-input" 
            type="radio"
            value="Ninguno"
            id="ninguno4"
            formControlName="pregunta4"
          >
          <label 
            class="form-check-label ms-2 me-5" 
            for="ninguno4"
          >
            Ninguno
          </label>
          
          <input 
            class="form-check-input"
            type="radio"
            value="Son iguales"
            id="iguales"
            formControlName="pregunta4"
          >
          <label 
            class="form-check-label ms-2 me-5"
            for="iguales"
          >
            Son iguales
          </label>
        
        </div>
  
        <caption class="mt-5">Pregunta</caption>
  
        <label>
          5.- ¿Cuántos dedos tiene una gallina en su pata?
        </label>
        <div class="form-check d-flex justify-content-around">
          <input 
            class="form-check-input" 
            type="radio"
            value="3 Dedos"
            id="3-dedos"
            formControlName="pregunta5"
          >
          <label
            class="form-check-label ms-2 me-5"
            for="3-dedos"
          >
            3 Dedos
          </label>
    
          <input 
            class="form-check-input"
            type="radio"
            value="2 Dedos"
            id="2-dedos"
            formControlName="pregunta5"
          >
          <label 
            class="form-check-label ms-2 me-5"
            for="2-dedos"
          >
            2 Dedos
          </label>
    
          <input 
            class="form-check-input"
            type="radio"
            value="4 Dedos"
            id="4-dedos"
            formControlName="pregunta5"
          >
          <label 
            class="form-check-label ms-2 me-5"
            for="4-dedos"
          >
            4 Dedos
          </label>
        </div>
  
        <caption class="mt-5">Pregunta</caption>
  
        <div class="form-check">
          <label class="form-check-label" for="acepta">
            Usted acepta que esta respondiendo con sinceridad las anteriores preguntas
          </label>
  
          <input 
            class="form-check-input"
            type="checkbox"
            value="acepta" 
            id="acepta"
            formControlName="aceptaCondiciones"
          >
        </div>
        <small
          class="text-danger"
          *ngIf="advertencia"
        >
          Debe seleccionar esta opción
        </small>
  
        <button 
          class="btn btn-primary mt-5 mx-auto d-block"
          type="submit"
        >
          Guardar
        </button>
      </div>
      
    </div>
    
    <div [innerHTML]="respuestas"></div>
    
  </form>
  

</div>
  

